.category-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.category {
    flex: 1;
    margin: 5px;
    height: 70vh;
    position: relative;
}

.category-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-title {
    color: white;
    margin-bottom: 20px;
}

.category-button {
    padding: 10px;
    border: none;
    background-color: white;
    color: gray;
    cursor: pointer;
    font-weight: 600;
}


@media only screen and (max-width: 440px) {
    .category-container {
        padding: 0;
        flex-direction: column;
    }

    .category-img {
         height: 30vh;
    }
 
   
 }