.register-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
), url("./images/bg.jpeg") center;
  background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}

.register-wrapper {
  padding: 20px;
  width: 40%;
  background-color: white;
}

.register-title {
    font-size: 24px;
    font-weight: 300;
}

.register-form {
    display: flex;
    flex-wrap: wrap;
}

.register-input {
   flex: 1;
   min-width: 40%;
   margin: 20px 10px 0 0;
   padding: 10px;
}

.agreement {
    font-size: 12px;
    margin: 20px 0;
}

.register-button {
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

.link {
  margin: 10px 0;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}


/* Login styles */

.login-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
), url("./images/bg2.webp") center;
  background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-wrapper {
    width: 25%;
    padding: 20px;
    background-color: white;
}

.login-input {
    margin: 10px 0;
}


@media only screen and (max-width: 440px) {
    
    .login-wrapper {
       width: 75%;
    }

    .register-wrapper {
        width: 75%;
    }
   
 }